@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans Variable";
}

h1,
span {
  font-family: "Lora Variable", serif;
}

input::placeholder {
  font-family: "Open Sans Variable";
}
